.dl-horizontal dt {
    white-space: normal;
}

.imgBG{
    width: 100% !important;
    height: 900px;
}

.welcome {
    width: 300px;
    font-size: 32px !important;
    color: white;
    text-align: center !important;
    position:relative;
    margin-top: -32%;
    margin-left: 15%;
    margin-bottom: 20%
}

.container {
    padding: 0;
}

.col-md-4 {
    border-right: solid 1px lightgrey;
    margin-top: 2%;
    height: 200px;
}

#last {
    border: none;
}

input[type=text], [type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #EE7600;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: grey;
    }

/* Add a background color and some padding around the form */
.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 5px 3px 4px lightgrey;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.header {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

span {
    line-height: 0.5;
    text-align: center;
    color: #EE7600;
    margin-top: 2%;
}

span {
    display: inline-block;
    position: relative;
}

    span:before,
    span:after {
        content: "";
        position: absolute;
        height: 10px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        top: 3px;
        width: 100%;
    }

    span:before {
        right: 100%;
        margin-right: 15px;
    }

    span:after {
        left: 100%;
        margin-left: 15px;
    }

.dropdown-content {
    display: none !important;
    position: absolute !important;
    background-color: #222;
    min-width: 160px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

div#map {
    height: 400px;
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "ID";
        }

        td:nth-of-type(2):before {
            content: "Title";
        }

        td:nth-of-type(3):before {
            content: "Type";
        }

        td:nth-of-type(4):before {
            content: "Address";
        }

        td:nth-of-type(5):before {
            content: "Description";
        }
}

.newsTitle {
    display: block;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 24px !important;
}
